.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
    height: 55px;
    background-color: #3647c6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    font-size:12px;
}