body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}

.app {
    position: relative;
    height: 100vh;
}

h1 {
    text-align: center;
}

.content {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    outline: 1px solid black;
    font-size: 12px;
}

.table__header > button {
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.container__table {
    border: 1px solid #50b7f5;
    overflow-y: auto;
    max-height: 60vh;
}
.container__table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    max-width: '40px';
}

.ellipsis {
    max-width: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.content td, th {
    border-bottom: 1px solid #50b7f5;
    border-right: 1px solid #50b7f5;
    border-left: 1px solid #50b7f5;
    padding: 8px;
}

.content th {
    text-align: center;
    background-color: #2F3DA9;
    color: white;
}

.content td {
    text-align: left;
    background-color: white;
}